* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: #5faf63;
    font-weight: bold;
    text-decoration: none;
}

p {
    padding: 10px 0 0;
    text-align: center;
}

label {
    font-size: 18px;
    padding: 10px 0 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    border:1px solid rgb(185, 184, 184);
}

input {
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    font-size: 15px !important;
    padding: 0px 0 5px;
    margin-bottom: 5px !important;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: none;
    outline:none;
    cursor: pointer;
    margin-top: 5px !important;
    margin-bottom: 10px;
    border-radius:10px !important;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background:lightgreen;
}

.error {
    border-bottom: 2px solid #ff4332;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.logout {
    color: #b7625c;
}